html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-size: 16px;
  padding-top: 69px;
  background: #fff;
}

.navbar {
  box-shadow: 0px 1px 33px -20px #000000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f2f2f2;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
