<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <div class="container">
      <button class="btn js-btn-auth">sign out</button>
    </div>
  </header>
  <div class="container">
    <div class="box-chat js-box-chat">
      <div class="container">
        <img src="https://html5css.ru/w3images/bandmember.jpg" alt="Avatar">
        <p>Hello. How are you today?</p>
        <span class="time-right">11:00</span>
      </div>

      <div class="container darker">
        <img src="https://html5css.ru/w3images/avatar_g2.jpg" alt="Avatar" class="right">
        <p>Hey! I'm fine. Thanks for asking!</p>
        <span class="time-left">11:01</span>
      </div>

      <div class="container">
        <img src="https://html5css.ru/w3images/bandmember.jpg" alt="Avatar">
        <p>Sweet! So, what do you wanna do today?</p>
        <span class="time-right">11:02</span>
      </div>

      <div class="container darker">
        <img src="https://html5css.ru//w3images/avatar_g2.jpg" alt="Avatar" class="right">
        <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
        <span class="time-left">11:05</span>
      </div>
    </div>
    <form class="js-form">
      <textarea name="mess" class="mess"></textarea>
      <label for="file">file</label>
      <div class="row">
        <button type="submit" class="btn js-btn">send</button>

      </div>
      <input type="file" name="file" id="file" class="input-file">
    </form>
  </div>
</body>

</html>