<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div class="header">
    <form class="form js-form">
      <input class="input" type="text" name="message" />
      <button class="button" type="submit">Add</button>
    </form>
    <button type="button" class="btn-login js-btn-login btn">login</button>
    <button type="button" class="btn-login js-sign-out btn">sign out</button>
  </div>
  <div class="body">
    <ol class="list js-list">
      <!-- <li class="item " data-id="1667218254464">
        <p class="text">Купити хліба!</p>
        <button type="button" class="button">x</button>
      </li> -->
    </ol>
  </div>
</body>

</html>