<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <div class="container">
      <button class="btn js-btn-auth">sign out</button>
    </div>
  </header>
  <div class="container">
    <div class="box-chat js-box-chat">
      <!--
      <div class="img-box right">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/to-do-list40.appspot.com/o/images%2Fcat.jpg?alt=media&token=0183de59-32f5-46d6-9ab7-f1e70933be5e"
          alt="img" class="img">
        <p class="img-time">11:20</p>
      </div> -->
      <!-- <div class="container">
        <img src="https://html5css.ru/w3images/bandmember.jpg" alt="Avatar">
        <p>Hello. How are you today?</p>
        <span class="time-right">11:00</span>
      </div>

      <div class="container darker">
        <img src="https://html5css.ru/w3images/avatar_g2.jpg" alt="Avatar" class="right">
        <p>Hey! I'm fine. Thanks for asking!</p>
        <span class="time-left">11:01</span>
      </div>

      <div class="container">
        <img src="https://html5css.ru/w3images/bandmember.jpg" alt="Avatar">
        <p>Sweet! So, what do you wanna do today?</p>
        <span class="time-right">11:02</span>
      </div>

      <div class="container darker">
        <img src="https://html5css.ru//w3images/avatar_g2.jpg" alt="Avatar" class="right">
        <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
        <span class="time-left">11:05</span>
      </div> -->
    </div>
    <form class="js-form">
      <textarea name="mess" class="mess"></textarea>
      <label for="file">file</label>
      <div class="row">
        <button type="submit" class="btn js-btn" disabled>send</button>

      </div>
      <input type="file" name="file" id="file" class="input-file js-input-file">
    </form>
  </div>
</body>

</html>