<form
  class="row justify-content-center gap-3 border border-1 rounded shadow py-5 bg-white js-form-select"
>
  <div class="col-3">
    <label class="col-sm-2 col-form-label w-100">
      <p class="fw-bolder">Колір</p>
      <select
        class="form-select form-select-lg mb-3"
        aria-label=".form-select-lg"
        name="color"
        required
      >
        <option selected disabled value="">Виберіть колір</option>
        <option value="red">Червоний</option>
        <option value="green">Зелений</option>
        <option value="blue">Синій</option>
      </select>
    </label>
  </div>

  <div class="col-3">
    <label class="col-sm-2 col-form-label w-100">
      <p class="fw-bolder">Розмір</p>
      <select
        class="form-select form-select-lg mb-3"
        aria-label=".form-select-lg"
        name="size"
        required
      >
        <option selected disabled value="">Виберіть розмір</option>
        <option value="sm">Маленький</option>
        <option value="md">Середній</option>
        <option value="xl">Великий</option>
      </select>
    </label>
  </div>

  <div class="col-3">
    <label class="col-sm-2 col-form-label w-100">
      <p class="fw-bolder">Матеріал</p>
      <select
        class="form-select form-select-lg mb-3"
        aria-label=".form-select-lg"
        name="material"
        required
      >
        <option selected disabled value="">Виберіть матеріал</option>
        <option value="steel">Сталь</option>
        <option value="wood">Дерево</option>
        <option value="plastic">Пластик</option>
      </select>
    </label>
  </div>

  <button type="submit" class="btn btn-primary col-3">Submit</button>
  <button type="reset" class="btn btn-primary col-3">Reset</button>
</form>
