body {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.box-chat {
  height: calc(100vh - 280px);
  overflow-y: auto;
}

.input-file {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin: -1px;
  padding: 0;
}

.mess {
  width: 100%;
  min-height: 100px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 14px;
}

header .container {
  background: rgba(2, 23, 250, 0.452);
  text-align: right;
  margin: 0;
}

header .container .btn {
  background: #fff;
}

.img-box {
  width: 50%;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  text-align: right;
  margin-bottom: 10px;
}

.img-box.right {
  margin-left: auto;
}

.img-time {
  margin: 0;
}

.img-box .img {
  width: 100%;
  min-width: 100%;
  margin-right: 0;
  border-radius: 4px;
}
